.state {
    margin-bottom: 20px;
}

.btnArea {
    margin-top: 60px;

    p {
        margin: 0;
        font-size: 20px;
        font-weight: bold;
    }
}

.multipleBtn {
    display: flex;
    justify-content: space-evenly;
}