.state {
    margin-bottom: 20px;
}

.btnArea {
    margin-top: 60px;

    p {
        margin: 0;
        font-size: 20px;
        font-weight: bold;
    }
}

.multipleBtn {
    display: flex;
    justify-content: space-evenly;
}

.errors {
    color: #fb5555;
    text-align: start;
    font-weight: bold;
    margin-top: 40px;

    ul {
        margin: 0;
    }
}