.content {
    h1 {
        margin: 0;
        font-size: 24px;
        text-align: start;
        border-left: 8px solid #000;
        padding-left: 16px;
    }
}

.header {
    background: #fff;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 12px 20px;
    font-weight: bold;
    margin-top: 28px;
}

.left {
    flex: 1;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 0 4px;
    cursor: pointer;

    span {
        color: #737373;
    }
}

.center {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 8px;

    span {
        font-size: 20px;
    }
}

.right {
    flex: 1;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 0 4px;
    cursor: pointer;

    span {
        color: #737373;
    }
}

.customArrow {
    font-size: 20px;
    color: #b2b2b2;
}

.customCalendar {
    font-size: 24px;
    color: #737373;
}

.table {
    width: 100%;
    table-layout: fixed;
    background: #fff;
    border-radius: 8px;
    margin-top: 28px;
    color: #737373;
    font-weight: bold;
}

.tableHead {
    border-bottom: 4px solid #e1e1e1;

    th {
        padding: 12px 0;
    }

    th:first-of-type {
        padding-left: 48px;
        text-align: start;
    }

    th:last-of-type {
        padding-right: 48px;
    }
}

.tableBody {
    tr + tr {
        border-top: 2px solid #e1e1e1;
    }

    td {
        padding: 12px 0;
    }

    td:first-of-type {
        padding-left: 48px;
        text-align: start;
    }

    td:last-of-type {
        padding-right: 48px;
    }
}

.tableLink {
    text-decoration: none;
    color: #000;
}

.btnArea {
    width: 100%;
    margin-top: 28px;
    display: flex;
    justify-content: end;
}

.btn {
    width: 16%;
    height: 32px;
    background: #000000;
    border: none;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}