.content {
    width: 50%;
    margin: 60px auto;
    text-align: center;

    p {
        font-size: 32px;
        font-weight: bold;
        margin: 0 0 32px 0;
    }
}

.back {
    font-size: 40px;
    cursor: pointer;
    color: #0873cc;
}